@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

.dark {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #fff;
  }

}

html {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);

  font-family: Arial, Helvetica, sans-serif;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

button,
a {
  cursor: pointer;
}